language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
# command to install dependencies
install:
  - pip install -r requirements/test.txt
# command to run tests
script: py.test --cov=./flask_minify/ tests/integration.py
after_success:
  - coveralls
