language: python
python:
  - "2.7.18"
  - "3.5.9"
  - "3.6.10"
  - "3.7.7"
  - "3.8.3"
# command to install dependencies
install:
  - pip install -r requirements/test.txt
# command to run tests
script: flake8 && pytest
after_success:
  - coveralls
